server:
  http:
    addr: 0.0.0.0:8801
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9801
    timeout: 1s
data:
  database:
    default:
      dsn: root:123456@tcp(127.0.0.1:3307)/admin?charset=utf8mb4&parseTime=True&loc=PRC
      max_conn: 10
      max_idle: 3
    user:
      dsn: root:123456@tcp(127.0.0.1:3307)/admin?charset=utf8mb4&parseTime=True&loc=PRC
      max_conn: 10
      max_idle: 3

  redis:
    default:
      addr: 127.0.0.1:6379
      read_timeout: 0.2s
      write_timeout: 0.2s
